$color-theme: #28b49b;
$color-opposing: whitesmoke;

main {
    background-color: whitesmoke;
}
.side-bar {
    display: none;
    ul {
        list-style: none;
        margin: 0;
        padding: 0;
        text-align: center;
        li {
            margin: 1em 0;
        }
    }
}
.content {
    form {
        margin: 2em 0;
        .select-item {
            select {
                //for Chrome, not supported much :/
                text-align-last: center;
                padding: 0;
            }
        }
    }
    .ingredients {
        
        color: $color-opposing;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 10px;
        margin-top: 2em;
        div {
            background-color: $color-theme;
            display: grid; /* added */
            align-items: center; /* added */
            min-height: 70px;
            border: 2px solid $color-opposing;
            font-size: 90%;
            font-weight: 600;
            padding: 5px 10px;
            border-radius: 4px;
        }
        div:hover {
            color: white;
        }
    }
    .recipe {
        margin: 2em 1em;
        text-align: justify;
    }
    .coctail-image {
        img {
            margin: 0 auto;
            max-width: 300px;
        }
    }
}

@media only screen and (min-width: 768px) {
    .side-bar {
        display: inline-block;
        background-color: lightblue;
    }
}