nav {
    margin-bottom: 1em;
    .row {
        margin: 0;
    }
}
img {
   
    margin: 1em 0 0 1em;
}
.header {
    vertical-align: middle;
    width: 70%;
    display: inline-block;
    margin-top: 1em;
}
.logo{
    img {
        min-height: 160px;
    }
}
